<div ng-controller="PatientViewController">
  <h1 class="pull-right"><div class="step-bubble"><span>2</span></div>App time <small>for {{patientHelper.name(patient)}}</small></h1>
  <br style="clear: both;" />
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span3" ng-repeat="app in all_apps">
        <div class="thumbnail">
          <img ng-src="{{app.icon}}"><!--"/ui/authorize/bp-centiles?patient=123"--> 
          <div class="caption">
            <a ng-href="/auth/provider/launch-app?response_type=token&client_id={{app._id}}&scope=patient&patient={{patientHelper.id(patient)}}" target="_blank" class="btn btn-block btn-primary">{{app.name}}</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

