</div>
<div id="unsupportedModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="unsupportedBrowser" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="unsupportedBrowser">Browser Unsupported</h3>
  </div>
  <div class="modal-body">
    <p>It looks like your browser doesn't support the SMART C-CDA Receiver.  You can try anyway, but we recommend</p>
    <ul>
      <li><a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a></li>
      <li><a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a></li>
      <li><a href="http://www.apple.com/safari/">Safari</a></li>
      <li><a href="http://windows.microsoft.com/en-US/internet-explorer/download-ie">IE 10</a> (Support for IE8/9 coming soon.)</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button  data-dismiss="modal" class="btn btn-primary">I understand!</button>
  </div>
</div>
<div class="container">
  <hr>
  <footer>
  <p>&copy; Harvard Medical School / Boston Children's Hospital, 2013</p>
  </footer>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/bootstrap/js/bootstrap-transition.js"></script>
<script src="/static/bootstrap/js/bootstrap-alert.js"></script>
<script src="/static/bootstrap/js/bootstrap-modal.js"></script>
<script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="/static/bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="/static/bootstrap/js/bootstrap-tab.js"></script>
<script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
<script src="/static/bootstrap/js/bootstrap-popover.js"></script>
<script src="/static/bootstrap/js/bootstrap-button.js"></script>
<script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
<script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
<script src="/static/bootstrap/js/bootstrap-typeahead.js"></script>
<script src="https://browserid.org/include.js" type="text/javascript"></script>
<script>
  $(function(){
    var nonPassportLogin = <%= typeof nonPassportLogin === "undefined" ? false : nonPassportLogin %>;
    var loggedInUser = null;
    var uid = <%= typeof user !== 'undefined' ? "'"+user._id+"'": 'false' %>;
    
    if (uid && !nonPassportLogin){
    	loggedInUser = uid;
    }
 
    function logout(){
          window.location="/logout";
    };

    $("#sign-out").click(function() {
	if (nonPassportLogin) {
	  logout();
	} else {
          navigator.id.logout();
	}
    }); 

    $("#fake-sign-in").click(function() {
      $.post("/auth/test", {email: "test@host.com"})
      .success(function(r){
        window.location.reload(true); 
      }); 
    }); 

    $("#sign-in").click(function() {
      navigator.id.request({siteName: 'SMART CCDA Receiver'});
    }); 

    navigator.id && navigator.id.watch({
      loggedInUser: loggedInUser,
      onlogin: function(assertion) {
        $.post("/auth/browserid", {assertion: assertion})
        .success(function(r){
          window.location.reload(true); 
        }); 
      },
      onlogout: function() {
	logout();
      }
    });
  });
</script>
<script>
    if (!Modernizr.history){
      $('#unsupportedModal').modal();
    }
  </script>

  </body>
</html>
