<% include partials/top.html %>
<% include partials/authenticated-nav.html %>
<% include ../partials/smartBox.html %>
<script src="/static/abbi/modules.js"></script>
<script src="/static/abbi/controllers.js"></script>
<div ng-app="abbi" ng-controller="MainController" >
  <div ng-view>

  </div>
</div>
<% include partials/bottom.html %>
